<div class="heading">
    <h1>EXPLORE RESOURCES BY AGE GROUP:</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="https://m.media-amazon.com/images/I/91gb9KR+W9L._AC_UF1000,1000_QL80_.jpg" alt="adults">
            <h1>for adults</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum veniam quam eos fuga voluptates
                architecto unde nisi quae labore iusto sequi cum odio voluptate, enim ea nam beatae obcaecati.</p>
            <button class="btn explorenow" (click)="onclick()">Explorenow</button>
        </div>
    </div>

    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="https://i.pinimg.com/550x/0f/9b/18/0f9b189fe8ad4e59e8fc0b3e6dfa8196.jpg" alt="forteens">
            <h1>for teens</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum veniam quam eos fuga voluptates
                architecto unde nisi quae labore iusto sequi cum odio voluptate, enim ea nam beatae obcaecati.</p>
            <button class="btn explorenow">Explorenow</button>
        </div>
    </div>

    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="https://m.media-amazon.com/images/I/913Xkzwq8JL.jpg" alt="kids">
            <h1>kids</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum veniam quam eos fuga voluptates
                architecto unde nisi quae labore iusto sequi cum odio voluptate, enim ea nam beatae obcaecati.</p>
            <button class="btn explorenow">Explorenow</button>
        </div>
    </div>
</div>