.navbar{
    background-color: rgb(191, 193, 189) !important;
}
.navbar img{
    max-width: 13%;
    margin: 0px 5%;
}
ul li a{
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 20px;
}
ul li a:hover{
    color: rgb(255, 162, 0);
    transition: 0.5s;
}