<app-navbar></app-navbar>
<div class="heading">
    <h1>EVENTS:</h1>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="https://images.jdmagicbox.com/comp/ernakulam/m4/0484px484.x484.140206113128.a9m4/catalogue/we-create-events-panampilly-nagar-ernakulam-event-management-companies-nsobpzm660.jpg?clr=" alt="adults">
            <h1>Flashmoob Event</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum veniam quam eos fuga voluptates
                architecto unde nisi quae labore iusto sequi cum odio voluptate, enim ea nam beatae obcaecati.</p>
            <button class="btn explorenow">Know More</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="https://www.vipav.com/templates/yootheme/cache/62/large-meeting-discussion-62fa47bd.jpeg" alt="adults">
            <h1>Mastering Event</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum veniam quam eos fuga voluptates
                architecto unde nisi quae labore iusto sequi cum odio voluptate, enim ea nam beatae obcaecati.</p>
            <button class="btn explorenow">Know more</button>
        </div>
    </div>

    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="https://i.ytimg.com/vi/nIT-TGRuFfI/sddefault.jpg" alt="adults">
            <h1>Online Gaming</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum veniam quam eos fuga voluptates
                architecto unde nisi quae labore iusto sequi cum odio voluptate, enim ea nam beatae obcaecati.</p>
            <button class="btn explorenow">Know More</button>
        </div>
    </div>

    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="https://media.gettyimages.com/id/1139397684/vector/quiz-night-poster.jpg?s=612x612&w=gi&k=20&c=c9HV7MpW3mN8dhmctgFIPPqwxKEy_38ChxYOAwrjFng=" alt="adults">
            <h1>Technical Quiz</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum veniam quam eos fuga voluptates
                architecto unde nisi quae labore iusto sequi cum odio voluptate, enim ea nam beatae obcaecati.</p>
            <button class="btn explorenow">Know more</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="https://images.jdmagicbox.com/comp/ernakulam/m4/0484px484.x484.140206113128.a9m4/catalogue/we-create-events-panampilly-nagar-ernakulam-event-management-companies-nsobpzm660.jpg?clr=" alt="adults">
            <h1>Flashmoob Event</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum veniam quam eos fuga voluptates
                architecto unde nisi quae labore iusto sequi cum odio voluptate, enim ea nam beatae obcaecati.</p>
            <button class="btn explorenow">Know More</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="flip-up">
            <img src="https://www.vipav.com/templates/yootheme/cache/62/large-meeting-discussion-62fa47bd.jpeg" alt="adults">
            <h1>Mastering Event</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ipsum veniam quam eos fuga voluptates
                architecto unde nisi quae labore iusto sequi cum odio voluptate, enim ea nam beatae obcaecati.</p>
            <button class="btn explorenow">Know more</button>
        </div>
    </div>
</div>

<app-footer></app-footer>