<div class="heading">
    <h1>World's Most Beautiful Libraries:</h1>
</div>
<div class="container1" data-aos="flip-up">
    <div class="slider-content">
        <div class="slider-image">
            <img src="../../assets/slider/pngwing.com (11).png" alt="libary">
        </div>
        <div class="slider-description">
            <h1>Libraries</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum illo autem excepturi? Recusandae ipsa
                nesciunt consequatur deserunt. Non et ad, iure aliquam facilis quos, nulla cum exercitationem eum vero
                dolorem.</p>
            <a href=""><button class="btn explorenow">Explorenow</button></a>
        </div>
    </div>
</div>